// Library imports
@import "reset";
@import "bourbon";
@import "neat";

// Own styles
@import "navigation";
@import "panels";
@import "items";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

